.container {
  width: 80vw;
}

@keyframes rotate-0-180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.rotate-anim-0-180 {
  animation: rotate-0-180 2s linear forwards;
}

.rotate-0-180 {
  transform: rotate(180deg);
}

@keyframes rotate-180-360 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-anim-180-360 {
  animation: rotate-180-360 2s linear forwards;
}

.rotate-180-360 {
  transform: rotate(360deg);
}